/* MATERIAL DESIGN Colors - https://material.io/design/color/#color-usage-palettes */

/*
  0. General
  1. Black
  2. White
  3. Grey
  4. Blue-grey
  5. Blue
  6. Red
  7. Green
  8. Orange
  9. Yellow
  10. Purple
  11. Pink
  12. Teal
  13. Indigo
  14. Cyan
  15. Lime
  16. Amber
  17. Light-blue
  18. Light-green
  19. Deep-purple
  20. Deep-orange
*/

// 0. General

// 1. Black
$black: #000000;

// 2. White
$white: #ffffff;

// 3. Grey
$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

// 4. Blue-grey
$blue-grey-50: #ECEFF1;
$blue-grey-100: #CFD8DC;
$blue-grey-200: #B0BEC5;
$blue-grey-300: #90A4AE;
$blue-grey-400: #78909C;
$blue-grey-500: #607D8B;
$blue-grey-600: #546E7A;
$blue-grey-700: #455A64;
$blue-grey-800: #37474F;
$blue-grey-900: #263238;

// 5. Blue
$blue-50: #E3F2FD;
$blue-100: #BBDEFB;
$blue-200: #90CAF9;
$blue-300: #64B5F6;
$blue-400: #42A5F5;
$blue-500: #2196F3;
$blue-600: #1E88E5;
$blue-700: #1976D2;
$blue-800: #1565C0;
$blue-900: #0D47A1;

// 6. Red
$red-50: #FFEBEE;
$red-100: #FFCDD2;
$red-200: #EF9A9A;
$red-300: #E57373;
$red-400: #EF5350;
$red-500: #F44336;
$red-600: #E53935;
$red-700: #D32F2F;
$red-800: #C62828;
$red-900: #B71C1C;

// 7. Green
$green-50: #E8F5E9;
$green-100: #C8E6C9;
$green-200: #A5D6A7;
$green-300: #81C784;
$green-400: #66BB6A;
$green-500: #4CAF50;
$green-600: #43A047;
$green-700: #388E3C;
$green-800: #2E7D32;
$green-900: #1B5E20;

// 8. Orange
$orange-50: #FFF3E0;
$orange-100: #FFE0B2;
$orange-200: #FFCC80;
$orange-300: #FFB74D;
$orange-400: #FFA726;
$orange-500: #FF9800;
$orange-600: #FB8C00;
$orange-700: #F57C00;
$orange-800: #EF6C00;
$orange-900: #E65100;

// 9. Yellow
$yellow-50: #FFFDE7;
$yellow-100: #FFF9C4;
$yellow-200: #FFF59D;
$yellow-300: #FFF176;
$yellow-400: #FFEE58;
$yellow-500: #FFEB3B;
$yellow-600: #FDD835;
$yellow-700: #FBC02D;
$yellow-800: #F9A825;
$yellow-900: #F57F17;

// 10. Purple
$purple-50: #F3E5F5;
$purple-100: #E1BEE7;
$purple-200: #CE93D8;
$purple-300: #BA68C8;
$purple-400: #AB47BC;
$purple-500: #9C27B0;
$purple-600: #8E24AA;
$purple-700: #7B1FA2;
$purple-800: #6A1B9A;
$purple-900: #4A148C;

// 11. Pink
$pink-50: #FCE4EC;
$pink-100: #F8BBD0;
$pink-200: #F48FB1;
$pink-300: #F06292;
$pink-400: #EC407A;
$pink-500: #E91E63;
$pink-600: #D81B60;
$pink-700: #C2185B;
$pink-800: #AD1457;
$pink-900: #880E4F;

// 12. Teal
$teal-50: #E0F2F1;
$teal-100: #B2DFDB;
$teal-200: #80CBC4;
$teal-300: #4DB6AC;
$teal-400: #26A69A;
$teal-500: #009688;
$teal-600: #00897B;
$teal-700: #00796B;
$teal-800: #00695C;
$teal-900: #004D40;

// 13. Indigo
$indigo-50: #E8EAF6;
$indigo-100: #C5CAE9;
$indigo-200: #9FA8DA;
$indigo-300: #7986CB;
$indigo-400: #5C6BC0;
$indigo-500: #3F51B5;
$indigo-600: #3949AB;
$indigo-700: #303F9F;
$indigo-800: #283593;
$indigo-900: #1A237E;

// 14. Cyan
$cyan-50: #E0F7FA;
$cyan-100: #B2EBF2;
$cyan-200: #80DEEA;
$cyan-300: #4DD0E1;
$cyan-400: #26C6DA;
$cyan-500: #00BCD4;
$cyan-600: #00ACC1;
$cyan-700: #0097A7;
$cyan-800: #00838F;
$cyan-900: #006064;

// 15. Lime
$lime-50: #F9FBE7;
$lime-100: #F0F4C3;
$lime-200: #E6EE9C;
$lime-300: #DCE775;
$lime-400: #D4E157;
$lime-500: #CDDC39;
$lime-600: #C0CA33;
$lime-700: #AFB42B;
$lime-800: #9E9D24;
$lime-900: #827717;
$lime-a-100: #F4FF81;
$lime-a-200: #EEFF41;
$lime-a-400: #C6FF00;
$lime-a-700: #AEEA00;



// 16. Amber
$amber-50: #FFF8E1;
$amber-100: #FFECB3;
$amber-200: #FFE082;
$amber-300: #FFD54F;
$amber-400: #FFCA28;
$amber-500: #FFC107;
$amber-600: #FFB300;
$amber-700: #FFA000;
$amber-800: #FF8F00;
$amber-900: #FF6F00;

// 17. Light blue
$light-blue-50: #E1F5FE;
$light-blue-100: #B3E5FC;
$light-blue-200: #81D4FA;
$light-blue-300: #4FC3F7;
$light-blue-400: #29B6F6;
$light-blue-500: #03A9F4;
$light-blue-600: #039BE5;
$light-blue-700: #0288D1;
$light-blue-800: #0277BD;
$light-blue-900: #01579B;

// 18. Light-green
$light-green-50: #F1F8E9;
$light-green-100: #DCEDC8;
$light-green-200: #C5E1A5;
$light-green-300: #AED581;
$light-green-400: #9CCC65;
$light-green-500: #8BC34A;
$light-green-600: #7CB342;
$light-green-700: #689F38;
$light-green-800: #558B2F;
$light-green-900: #33691E;

// 19. Deep-purple
$deep-purple-50: #EDE7F6;
$deep-purple-100: #D1C4E9;
$deep-purple-200: #B39DDB;
$deep-purple-300: #9575CD;
$deep-purple-400: #7E57C2;
$deep-purple-500: #673AB7;
$deep-purple-600: #5E35B1;
$deep-purple-700: #512DA8;
$deep-purple-800: #4527A0;
$deep-purple-900: #311B92;

// 20. Deep orange
$deep-orange-50: #FBE9E7;
$deep-orange-100: #FFCCBC;
$deep-orange-200: #FFAB91;
$deep-orange-300: #FF8A65;
$deep-orange-400: #FF7043;
$deep-orange-500: #FF5722;
$deep-orange-600: #F4511E;
$deep-orange-700: #E64A19;
$deep-orange-800: #D84315;
$deep-orange-900: #BF360C;



/* Background-color - Grey */
.bg-grey-50{background-color: #ECEFF1;}
.bg-grey-100{background-color: #CFD8DC;}
.bg-grey-200{background-color: #B0BEC5;}
.bg-grey-300{background-color: #90A4AE;}

/* Background-color - Green */
.bg-green-100{background-color: #C8E6C9;}
.bg-green-200{background-color: #A5D6A7;}
.bg-green-300{background-color: #81C784;}
.bg-green-400{background-color: #66BB6A;}
.bg-green-500{background-color: #4CAF50;}
.bg-green-600{background-color: #43A047;}
.bg-green-700{background-color: #388E3C;}
.bg-green-800{background-color: #2E7D32;}
.bg-green-900{background-color: #1B5E20;}

/* Background-color - Red */
.bg-red-100{background-color: #FFCDD2;}
.bg-red-200{background-color: #EF9A9A;}
.bg-red-300{background-color: #E57373;}
.bg-red-400{background-color: #EF5350;}
.bg-red-500{background-color: #F44336;}
.bg-red-600{background-color: #E53935;}
.bg-red-700{background-color: #D32F2F;}
.bg-red-800{background-color: #C62828;}
.bg-red-900{background-color: #B71C1C;}

/* Background-color - blue */
.bg-blue-100{background-color: #BBDEFB;}
.bg-blue-200{background-color: #90CAF9;}
.bg-blue-300{background-color: #64B5F6;}
.bg-blue-400{background-color: #42A5F5;}
.bg-blue-500{background-color: #2196F3;}
.bg-blue-600{background-color: #1E88E5;}
.bg-blue-700{background-color: #1976D2;}
.bg-blue-800{background-color: #1565C0;}
.bg-blue-900{background-color: #0D47A1;}

/* Background-color - Teal */
.bg-teal-100{background-color: #B2DFDB;}
.bg-teal-200{background-color: #80CBC4;}
.bg-teal-300{background-color: #4DB6AC;}

/* text-color - Red */
.red-100{color: #FFCDD2;}
.red-200{color: #EF9A9A;}
.red-300{color: #E57373;}
.red-400{color: #EF5350;}
.red-500{color: #F44336;}
.red-600{color: #E53935;}
.red-700{color: #D32F2F;}
.red-800{color: #C62828;}
.red-900{color: #B71C1C;}

/* text-color - Grey */
.grey-50{color: #ECEFF1;}
.grey-100{color: #CFD8DC;}
.grey-200{color: #B0BEC5;}
.grey-300{color: #90A4AE;}
.grey-400{color: #78909C;}
.grey-500{color: #607D8B;}
.grey-600{color: #546E7A;}
.grey-700{color: #455A64;}
.grey-800{color: #37474F;}
// .grey-900{color: #263238;}

/* text-color - Green */
.green-100{color: #E8F5E9;}
.green-200{color: #C8E6C9;}
.green-300{color: #A5D6A7;}
.green-400{color: #81C784;}
.green-500{color: #4CAF50;}
.green-600{color: #43A047;}
.green-700{color: #388E3C;}
.green-800{color: #2E7D32;}
.green-900{color: #1B5E20;}
