@import "./colors"; // Colors

// $break-small: 768px;
// $break-large: 1200px;

:root{
  // font-size: 10px;
}

html{
  background-color: white;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.home {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  // overflow: hidden;

  @media only screen and (min-width: 1500px) {
    flex-direction: row;
    // flex-wrap: wrap;
  }

  .ads-log{
    // flex-grow: 2;
    background-color: $grey-100;
    border-right: 1px solid $grey-500;
    width: 100%;
    height: 100vh;
    position: inherit;
    overflow-y: scroll;

    @media only screen and (min-width: 1500px) {
      width: calc(100vw - 1280px);
      position: fixed;
    }

    .log-filter{
      input{
        padding: 10px 5px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid $grey-300;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 0.9em;
      }
    }

    ul{
      list-style: none;
      text-align: left;
      margin: 0 20px;
      padding: 0;

      li{
        padding: 6px 0px;
        border-bottom: 1px solid $grey-300;
        &:last-child{
          border: 0;
        }

        p{
          display: inline-block;
          margin: 0;
          padding: 5px 10px;

          span{
            color: $grey-500;
            font-size: 0.8em;
          }
        }

        .image{
          color: $green-500;
        }

        .video{
          color: $orange-500;
        }
      }
    }
  }

  .ads-map{
    // flex-grow: 6;
    background-color: $yellow-100;
    width: 1280px;
    height: 1887px;
    // overflow: auto;
    background: url('../src/assets/got-map.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: calc(100vw - 1280px);

    ul{
      list-style: none;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      position: relative;

      li{
        margin: 0;
        padding: 0;
        position: absolute;
        background-color: $grey-50;

        .ad{
          width: 100%;
          border: 5px solid;
          padding: 5px;

          &.image{
            width: 150px;
            height: auto;
            border-color: $green-500;
          }

          &.video{
            width: 180px;
            height: auto;
            border-color: $orange-500;
          }

        }
      }
    }
  }
}