<template>
  <div class="home">
    <ads-log
      :ad="ad">
    </ads-log>
    <ads-map
      :ad="ad">
    </ads-map>
  </div>
</template>

<script>
import { AdDispatcher } from 'ubimo-fed-home-assigment'
const dispatcher = new AdDispatcher()

// @ is an alias to /src
import AdsMap from '@/components/AdsMap.vue'
import AdsLog from '@/components/AdsLog.vue'

export default {
  name: 'home',
  components: {
    'ads-map': AdsMap,
    'ads-log': AdsLog
  },
  data () {
    return {
      ad: {},
      adsArr: []
    }
  },
  created () {
    dispatcher.registerToAdEvents((evt) => {
      this.ad = evt
    })
  },
  methods: {
  }
}
</script>
