<template>
  <div class="ads-log">
    <h1>Ads</h1>
    <div class="log-filter">
      <input type="number" v-model="startTime" placeholder="Start time">
      <input type="number" v-model="endTime" placeholder="End time">
    </div>
    <ul>
      <li v-for="(ad, index) in filteredLogAds.slice().reverse()" :key="index" >
        <p>{{ad.time}} <span>({{ad.timeUnix}})</span></p> 
        <icon-base :iconColor="ad.type === 'image' ? 'green' : 'orange'"><component :is="'icon-' + ad.type"></component></icon-base>
        <p :class="[ad.type === 'image' ? 'image' : 'video']">{{ad.name}}</p>
        <a :href="ad.link" target="_blank"><icon-base :iconColor="'blue'"><icon-link/></icon-base></a>
      </li>
    </ul>
  </div>
</template>

<script>
var moment = require('moment')
moment().format()

import IconBase from './IconBase.vue'
import IconVideo from './icons/IconVideo.vue'
import IconImage from './icons/IconImage.vue'
import IconLink from './icons/IconLink.vue'

export default {
  name: 'AdsLog',
  props: {
    ad: {
      type: Object,
      required: false
    }
  },
  components: {
    // Icons
    'icon-base': IconBase,
    'icon-video': IconVideo,
    'icon-image': IconImage,
    'icon-link': IconLink,
  },
  data () {
    return {
      logAds: [],
      startTime: '',
      endTime: ''
    }
  },
  created () {
  },
  methods: {
  },
  computed: {
    filteredLogAds () {
      let startTime = this.startTime
      let endTime = this.endTime
      let data = this.logAds
      if (startTime) {
        data = data.filter(ad => ad.timeUnix >= this.startTime)
      }
      if (endTime) {
        data = data.filter(ad => ad.timeUnix <= this.endTime)
      }
      return data
    }
  },
  watch: {
    ad: {
      handler: function () {
        // console.log('ad: ', this.ad)
        let ad = this.ad
        this.logAds.push({
          timeUnix: moment().unix(),
          time: moment().format("h:mm:ss a"),
          type: ad.type.toLowerCase(),
          name: ad.creative.name,
          link: ad.creative.url
        })
      },
      deep: true
    }
  }
}
</script>


