<template>
  <div class="ads-map">
    <ul>
      <li v-for="(ad, index) in mapAds" :key="index" :style="{ left: ad.x+'px', top: ad.y+'px' }">
        <img v-if="ad.type === 'IMAGE'" :src="ad.link" :alt="ad.name" class="ad image">
        <video v-if="ad.type === 'VIDEO'" class="ad video" autoplay muted controls><source :src="ad.link" type="video/mp4"></video>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'mapAds',
  props: {
    ad: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      mapAds: []
    }
  },
  created () {

  },
  mounted () {
    // this.destroyAd()
  },
  methods: {
    destroyAd () {
      setTimeout(() => {
        this.mapAds.splice(0, 1)
      }, 5000)
    }
  },
  computed: {
  },
  watch: {
    ad: {
      handler: function () {
        // console.log('ad: ', this.ad)
        let ad = this.ad
        this.mapAds.push({
          x: ad.coordinates.x,
          y: ad.coordinates.y,
          type: ad.type,
          link: ad.creative.url,
          name: ad.creative.name,
        })
        this.destroyAd()
      },
      deep: true
    }
  }
}
</script>


