<template>
  <svg xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    :width="24"
    :height="24"
    :viewBox="'0 0 24 24'"
    role="presentation"
    version="1.1">

    <g :fill="iconColor">
      <slot />
    </g>
  </svg>
</template>

<script>
  export default {
props: {
    iconColor: {
      type: String,
      default: 'currentColor'
    }
  },
  created () {
  }
}
</script>